* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.topo {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  padding: 20px 40px;
}

.logo {
  font-family: Helvetica;
  font-size: 30px;
}

.links a:hover {
  color: blueviolet;
  transition: color 0.2s ease;
}
.links a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}
.links{
  display: flex;
  gap: 30px;
}

.heroc a:hover {
  color: blueviolet;
  transition: color 0.2s ease;
}

.b{
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  max-width: 120px;
  padding: 14px 28px;
  background-color: #6366f1;
  border-radius: 10px;
  margin-top: 10px;

}

.heroc h1{
  font-size: 40px;
  margin-bottom: 5px;
  }

.heroc p {
  line-height: 1.5;
  font-size: 19px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 80px;
  background-color: #020617;
  color: white;
  
  min-width: 250px;
  }

  .heroc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    max-width: 1000px;
  }

  .sobre {
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: center;
    justify-content: center;
  }

  .sobrec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .sobrec p,
  .sobrec h2 {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #334155;
    color: white;
  }
  .sobrec p {
   background-color: #1e293b;
   line-height: 1.6;
   font-size: 19px;
  }

  .sobrec h2 {
    background-color: #1e293b;
  }

  .cards {
    padding: 80px;
    text-align: center;
    background-color: #0f172a;
  }

  .cards h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #f9fafb;
  }

  .cardsc {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #334155;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    color: white;
    background-color: #1e293b;
    line-height: 1.3;
  }

  .rodape {
    background-color: #020617;
    border-top: 1px solid #1e293b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
  }

  .rodape p {
    color: #cbd5f5;
  }

  .rodape span {
  font-size: 14px;
  color: #94a3b8;
}